

.entity-modal-body {
  .scripted-selects-control {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 10px;
    
    .select-title {
      font-size: 16px !important;
    }
    
    .select-title.required:after {
      content: " * ";
      color: #c71784;
    }

    .select-element {
      width: 100% !important;
      margin-bottom: 10px;
    }
  }
  
  .form-control:focus {
    border: 2px solid #c71784 !important;
    box-shadow: unset;
  }
  
  .required {
    .select-title:after {
      content: " * ";
      color: #c71784;
    }
    
    label:after {
      content: " * ";
      color: #c71784;
    }
  }
  
  .entity-property-control-row {
    display: flex;
    margin: auto;

    .react-date-picker {

      .react-date-picker__wrapper {
        border: none;
      }
    }

    .react-datetime-picker {
      .react-datetime-picker__wrapper {
        border: none;
      }
    }

    .react-time-picker {

      .react-time-picker__wrapper {
        border: none;
      }
    }

  }

  .group-name {
    display: flex;
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
    color: #666666;
    &:before, &:after{
      display: flex;
      content: "";
      flex-grow: 1;
      margin: 8px;
      border-bottom: 1px solid #B2B2B2;
    }
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #c71784;
    background-color: #c71784;
  }
  
}

.property-uom {
  text-align: center;
  margin: auto;
  padding-left: 10px;
}


.entity-modal-error {
  color: red;
  font-weight: bold;
  font-size: 1.5em;
  margin: 10px 5px;
  text-align: right;
}

