.entity-tree-panel {

  .title {
    margin: 10px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    color: #333333;
  }

  .filter-container {
    /*because of the count*/
    margin-bottom: 0px;
  }

}