
.datasource-history-table {
    th {
        padding: 5px;
        color: var(--app-accent-color);
        border-bottom: 1px solid black;
    }

    td {
        padding: 5px;
    }

    .error {
        color: var(--app-accent-color)
    }
}






