.flex-content {
  background-color: white;
}

.scroll-overflowY {
  overflow-y: auto !important;
  height: 100%;

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    background: white;
  }

  &::-webkit-scrollbar-thumb {
    background: #dcdcdc;
    border-radius: 2rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #b8b8b8;
  }
}
