
.logo-wrapper {
  display: inline-flex;
  align-items: center;
}

.appName {
  font-size: 25px;
  font-weight: 500;
  font-family: Inter, sans-serif;
  margin-left: 25px;
  color: var(--head-appname-color);
}