
.dbm-tooltip {
    position: relative;
    display: inline-block;
  }
  
  .dbm-tooltip .dbm-tooltiptext {
    visibility: hidden;
  
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    position: absolute;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .dbm-tooltip:hover .dbm-toolTipText {
    visibility: visible;
  }