//react-ifef applies its own styles. We need to override them here so we can
//allow apps to more easily control them via variables
header {
    background-color: var(--head-bkg-color) !important;
}

nav {
    background-color: var(--nav-bkg-color) !important;

    a {
        color: var(--nav-icon-color) !important;
    }

    .main-nav li:hover {
        background-color: var(--nav-hover-color) !important;
    }

    .main-nav-active {
        background-color: var(--nav-activegrp-bkg-color) !important;
        border-left: 10px solid var(--app-accent-color) !important;

        a {
            color: var(--app-accent-color) !important;
        }
    }
}