:root {
    --hero-accent-color: #C71784;

    --fancytree-one-color: #C71784;
    --fancytree-one-channel-color: #f3d5e4;
    --fancytree-two-color:#f26827;
    --fancytree-two-channel-color: #fde0d7;
    --fancytree-three-color:#00a693;
    --fancytree-three-channel-color: #cdebe8;

}