$light-grey: #6d6e70;

.dialog-title {
  margin-bottom: 0px;
}

.project-picker-modal {
  h4 {
    font-size: 14px;
  }

  .invite-table {
    td,
    th {
      padding: 5px;
    }

    td:nth-of-type(2) {
      min-width: 250px;
    }

    .invite-action {
      display: block;
      margin-left: 20px;
      margin-bottom: 5px;
      cursor: pointer;
      color: var(--app-accent-color);

      i {
        padding-right: 0px;
        width: 20px;
      }
    }
  }

  .spinningLoadingIcon.userGroupLoadingIcon {
    position: relative;
  }

  .custom-single-class .select__control:hover {
    border-color: var(--app-accent-color);
    box-shadow: 0 0 0 0px var(--app-accent-color);
  }

  .custom-single-class .select__option {
    color: black;
    background-color: white;
  }

  .custom-single-class .select__option--is-focused {
    background-color: var(--app-accent-color) !important;
    color: white;
  }

  .custom-single-class .select__control {
    border-color: #b0b0b0;
    box-shadow: 0 0 0 0px #b0b0b0;
  }

  .custom-single-class .select__indicator-separator {
    display: none; /* Hide the separator between the indicator and the input */
  }

  .select-container {
    width: 100%;
    margin-bottom: 24px;
  }

  .select-input-container {
    width: 100%;
  }

  .select-popup {
    width: 100%;
  }

  .select-trigger {
    width: 100%;
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .dialog-footer-button {
    flex-grow: 1;
    margin: 0px 8px;
  }
}

@media screen and (max-width: 768px) {
  .button-container {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
