
// Slide up from the bottom, used for modals
// Made for use with react-transition-group CSSTransition.  jl 10/30/2019
// -------------------------------

.slide-in-up {
  @include translate3d(0, 100%, 0);

  // These are formed so the classes can be at one level, or as a direct child of the outer level
  &.slide-in-up-enter,
  & > .slide-in-up-enter {
    @include transition(all cubic-bezier(.1, .7, .1, 1) 400ms);
  }

  &.slide-in-up-enter-active,
  & > .slide-in-up-enter-active,
  &.slide-in-up-enter-done,
  & > .slide-in-up-enter-done {
    @include translate3d(0, 0, 0);
  }

  &.slide-in-up-exit,
  & > .slide-in-up-exit {
    @include transition(all ease-in-out 400ms);
  }

  &.slide-in-up-exit-active,
  & > .slide-in-up-exit-active,
  &.slide-in-up-exit-done,
  & > .slide-in-up-exit-done {
    @include translate3d(0, 100%, 0);

  }
}


// Scale Out
// Scale from hero (1 in this case) to zero
// -------------------------------

@-webkit-keyframes scaleOut {
  from { -webkit-transform: scale(1); opacity: 1; }
  to { -webkit-transform: scale(0.8); opacity: 0; }
}
@keyframes scaleOut {
  from { transform: scale(1); opacity: 1; }
  to { transform: scale(0.8); opacity: 0; }
}


// Super Scale In
// Scale from super (1.x) to duper (1 in this case)
// -------------------------------

@-webkit-keyframes superScaleIn {
  from { -webkit-transform: scale(1.2); opacity: 0; }
  to { -webkit-transform: scale(1); opacity: 1 }
}
@keyframes superScaleIn {
  from { transform: scale(1.2); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
