@use "mixins";
@use "variables";


/**
 * Badges
 * --------------------------------------------------
 */

.badge {
  @include mixins.badge-style(variables.$badge-default-bg, variables.$badge-default-text);
  z-index: variables.$z-index-badge;
  display: inline-block;
  padding: 3px 8px;
  min-width: 10px;
  border-radius: variables.$badge-border-radius;
  vertical-align: baseline;
  text-align: center;
  white-space: nowrap;
  font-weight: variables.$badge-font-weight;
  font-size: variables.$badge-font-size;
  line-height: variables.$badge-line-height;

  &:empty {
    display: none;
  }
}

//Be sure to override specificity of rule that 'badge color matches tab color by default'
.tabs .tab-item .badge,
.badge {
  &.badge-light {
    @include mixins.badge-style(variables.$badge-light-bg, variables.$badge-light-text);
  }
  &.badge-stable {
    @include mixins.badge-style(variables.$badge-stable-bg, variables.$badge-stable-text);
  }
  &.badge-positive {
    @include mixins.badge-style(variables.$badge-positive-bg, variables.$badge-positive-text);
  }
  &.badge-calm {
    @include mixins.badge-style(variables.$badge-calm-bg, variables.$badge-calm-text);
  }
  &.badge-assertive {
    @include mixins.badge-style(variables.$badge-assertive-bg, variables.$badge-assertive-text);
  }
  &.badge-balanced {
    @include mixins.badge-style(variables.$badge-balanced-bg, variables.$badge-balanced-text);
  }
  &.badge-energized {
    @include mixins.badge-style(variables.$badge-energized-bg, variables.$badge-energized-text);
  }
  &.badge-royal {
    @include mixins.badge-style(variables.$badge-royal-bg, variables.$badge-royal-text);
  }
  &.badge-dark {
    @include mixins.badge-style(variables.$badge-dark-bg, variables.$badge-dark-text);
  }
}

// Quick fix for labels/badges in buttons
.button .badge {
  position: relative;
  top: -1px;
}
