@use "mixins";
@use "variables";


/**
 * Loading
 * --------------------------------------------------
 */

.loading-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  z-index: variables.$z-index-loading;

  @include mixins.display-flex();
  @include mixins.justify-content(center);
  @include mixins.align-items(center);

  @include mixins.transition(0.2s opacity linear);
  visibility: hidden;
  opacity: 0;

  &:not(.visible) .icon,
  &:not(.visible) .spinner{
    display: none;
  }
  &.visible {
    visibility: visible;
  }
  &.active {
    opacity: 1;
  }

  .loading {
    padding: variables.$loading-padding;

    border-radius: variables.$loading-border-radius;
    background-color: variables.$loading-bg-color;

    color: variables.$loading-text-color;

    text-align: center;
    text-overflow: ellipsis;
    font-size: variables.$loading-font-size;

    h1, h2, h3, h4, h5, h6 {
      color: variables.$loading-text-color;
    }
  }
}
