@use "mixins";
@use "variables";


/**
 * Popups
 * --------------------------------------------------
 */

.asf-popup-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0);

  @include mixins.display-flex();
  @include mixins.justify-content(center);
  @include mixins.align-items(center);

  z-index: variables.$z-index-popup;

  // Start hidden
  visibility: hidden;
  &.asf-popup-showing {
    visibility: visible;
  }

  &.asf-popup-hidden .asf-popup {
    @include mixins.animation-name(scaleOut);
    @include mixins.animation-duration(variables.$popup-leave-animation-duration);
    @include mixins.animation-timing-function(ease-in-out);
    @include mixins.animation-fill-mode(both);
  }

  &.active .asf-popup {
    @include mixins.animation-name(superScaleIn);
    @include mixins.animation-duration(variables.$popup-enter-animation-duration);
    @include mixins.animation-timing-function(ease-in-out);
    @include mixins.animation-fill-mode(both);
  }

  .asf-popup {
    width: variables.$popup-width;
    max-width: 100%;
    max-height: 90%;

    border-radius: variables.$popup-border-radius;
    background-color: variables.$popup-background-color;

    @include mixins.display-flex();
    @include mixins.flex-direction(column);
  }

  input,
  textarea {
    width: 100%;
  }
}

.asf-popup-head {
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.asf-popup-title {
  margin: 0;
  padding: 0;
  font-size: 15px;
}
.asf-popup-sub-title {
  margin: 5px 0 0 0;
  padding: 0;
  font-weight: normal;
  font-size: 11px;
}
.asf-popup-body {
  padding: 10px;
  overflow: scroll;
}

.asf-popup-buttons {
  @include mixins.display-flex();
  @include mixins.flex-direction(row);
  padding: 10px;
  min-height: variables.$popup-button-min-height + 20;

  .button {
    @include mixins.flex(1);
    display: block;
    min-height: variables.$popup-button-min-height;
    border-radius: variables.$popup-button-border-radius;
    line-height: variables.$popup-button-line-height;

    margin-right: 5px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.popup-open {
  pointer-events: none;

  &.modal-open .asf-modal {
    pointer-events: none;
  }

  .asf-popup-backdrop, .asf-popup {
    pointer-events: auto;
  }
}
