@use "variables";


/**
 * Progress
 * --------------------------------------------------
 */

progress {
  display: block;
  margin: variables.$progress-margin;
  width: variables.$progress-width;
}
