@use "mixins";
@use "variables";

/**
 * Tabs
 * --------------------------------------------------
 * A navigation bar with any number of tab items supported.
 */

.tabs {
  @include mixins.display-flex();
  @include mixins.flex-direction(horizontal);
  @include mixins.justify-content(center);
  @include mixins.translate3d(0,0,0);

  @include mixins.tab-style(variables.$tabs-default-bg, variables.$tabs-default-border, variables.$tabs-default-text);
  @include mixins.tab-badge-style(variables.$tabs-default-text, variables.$tabs-default-bg);

  position: absolute;
  bottom: 0;

  z-index: variables.$z-index-tabs;

  width: 100%;
  height: variables.$tabs-height;

  border-style: solid;
  border-top-width: 1px;

  background-size: 0;
  line-height: variables.$tabs-height;

  @media (min--moz-device-pixel-ratio: 1.5),
         (-webkit-min-device-pixel-ratio: 1.5),
         (min-device-pixel-ratio: 1.5),
         (min-resolution: 144dpi),
         (min-resolution: 1.5dppx) {
    padding-top: 2px;
    border-top: none !important;
    border-bottom: none;
    background-position: top;
    background-size: 100% 1px;
    background-repeat: no-repeat;
  }

}
/* Allow parent element of tabs to define color, or just the tab itself */
.tabs-light > .tabs,
.tabs.tabs-light {
  @include mixins.tab-style(variables.$tabs-light-bg, variables.$tabs-light-border, variables.$tabs-light-text);
  @include mixins.tab-badge-style(variables.$tabs-light-text, variables.$tabs-light-bg);
}
.tabs-stable > .tabs,
.tabs.tabs-stable {
  @include mixins.tab-style(variables.$tabs-stable-bg, variables.$tabs-stable-border, variables.$tabs-stable-text);
  @include mixins.tab-badge-style(variables.$tabs-stable-text, variables.$tabs-stable-bg);
}
.tabs-positive > .tabs,
.tabs.tabs-positive {
  @include mixins.tab-style(variables.$tabs-positive-bg, variables.$tabs-positive-border, variables.$tabs-positive-text);
  @include mixins.tab-badge-style(variables.$tabs-positive-text, variables.$tabs-positive-bg);
}
.tabs-calm > .tabs,
.tabs.tabs-calm {
  @include mixins.tab-style(variables.$tabs-calm-bg, variables.$tabs-calm-border, variables.$tabs-calm-text);
  @include mixins.tab-badge-style(variables.$tabs-calm-text, variables.$tabs-calm-bg);
}
.tabs-assertive > .tabs,
.tabs.tabs-assertive {
  @include mixins.tab-style(variables.$tabs-assertive-bg, variables.$tabs-assertive-border, variables.$tabs-assertive-text);
  @include mixins.tab-badge-style(variables.$tabs-assertive-text, variables.$tabs-assertive-bg);
}
.tabs-balanced > .tabs,
.tabs.tabs-balanced {
  @include mixins.tab-style(variables.$tabs-balanced-bg, variables.$tabs-balanced-border, variables.$tabs-balanced-text);
  @include mixins.tab-badge-style(variables.$tabs-balanced-text, variables.$tabs-balanced-bg);
}
.tabs-energized > .tabs,
.tabs.tabs-energized {
  @include mixins.tab-style(variables.$tabs-energized-bg, variables.$tabs-energized-border, variables.$tabs-energized-text);
  @include mixins.tab-badge-style(variables.$tabs-energized-text, variables.$tabs-energized-bg);
}
.tabs-royal > .tabs,
.tabs.tabs-royal {
  @include mixins.tab-style(variables.$tabs-royal-bg, variables.$tabs-royal-border, variables.$tabs-royal-text);
  @include mixins.tab-badge-style(variables.$tabs-royal-text, variables.$tabs-royal-bg);
}
.tabs-dark > .tabs,
.tabs.tabs-dark {
  @include mixins.tab-style(variables.$tabs-dark-bg, variables.$tabs-dark-border, variables.$tabs-dark-text);
  @include mixins.tab-badge-style(variables.$tabs-dark-text, variables.$tabs-dark-bg);
}

@mixin tabs-striped($style, $color, $background) {
  &.#{$style} {
    .tabs{
      background-color: $background;
    }
    .tab-item {
      color: rgba($color, variables.$tabs-striped-off-opacity);
      opacity: 1;
      .badge{
        opacity:variables.$tabs-striped-off-opacity;
      }
      &.tab-item-active,
      &.active,
      &.activated {
        margin-top: -(variables.$tabs-striped-border-width);
        color: $color;
        border-style: solid;
        border-width: variables.$tabs-striped-border-width 0 0 0;
        border-color: $color;
      }
    }
  }
  &.tabs-top{
    .tab-item {
      &.tab-item-active,
      &.active,
      &.activated {
        .badge {
          top: 4%;
        }
      }
    }
  }
}

@mixin tabs-background($style, $color, $border-color) {
  .#{$style} {
    .tabs,
    &> .tabs{
      background-color: $color;
      background-image: linear-gradient(0deg, $border-color, $border-color 50%, transparent 50%);
      border-color: $border-color;
    }
  }
}

@mixin tabs-striped-background($style, $color) {
  &.#{$style} {
    .tabs {
      background-color: $color;
      background-image:none;
    }
  }
}

@mixin tabs-color($style, $color) {
  .#{$style} {
    .tab-item {
      color: rgba($color, variables.$tabs-off-opacity);
      opacity: 1;
      .badge{
        opacity:variables.$tabs-off-opacity;
      }
      &.tab-item-active,
      &.active,
      &.activated {
        color: $color;
        border: 0 solid $color;
        .badge{
          opacity: 1;
        }
      }
    }
  }
}

@mixin tabs-striped-color($style, $color) {
  &.#{$style} {
    .tab-item {
      color: rgba($color, variables.$tabs-striped-off-opacity);
      opacity: 1;
      .badge{
        opacity:variables.$tabs-striped-off-opacity;
      }
      &.tab-item-active,
      &.active,
      &.activated {
        margin-top: -(variables.$tabs-striped-border-width);
        color: $color;
        border: 0 solid $color;
        border-top-width: variables.$tabs-striped-border-width;
        .badge{
          top:variables.$tabs-striped-border-width;
          opacity: 1;
        }
      }
    }
  }
}

.tabs-striped {
  .tabs {
    background-color: white;
    background-image: none;
    border: none;
    border-bottom: 1px solid #ddd;
    padding-top: variables.$tabs-striped-border-width;
  }
  .tab-item {
    // default android tab style
    &.tab-item-active,
    &.active,
    &.activated {
      margin-top: -(variables.$tabs-striped-border-width);
      border-style: solid;
      border-width: variables.$tabs-striped-border-width 0 0 0;
      border-color: variables.$dark;
      .badge{
        top:variables.$tabs-striped-border-width;
        opacity: 1;
      }
    }
  }
  @include tabs-striped('tabs-light', variables.$dark, variables.$light);
  @include tabs-striped('tabs-stable', variables.$dark, variables.$stable);
  @include tabs-striped('tabs-positive', variables.$light, variables.$positive);
  @include tabs-striped('tabs-calm', variables.$light, variables.$calm);
  @include tabs-striped('tabs-assertive', variables.$light, variables.$assertive);
  @include tabs-striped('tabs-balanced', variables.$light, variables.$balanced);
  @include tabs-striped('tabs-energized', variables.$light, variables.$energized);
  @include tabs-striped('tabs-royal', variables.$light, variables.$royal);
  @include tabs-striped('tabs-dark', variables.$light, variables.$dark);

  // doing this twice so striped tabs styles don't override specific bg and color vals
  @include tabs-striped-background('tabs-background-light', variables.$light);
  @include tabs-striped-background('tabs-background-stable', variables.$stable);
  @include tabs-striped-background('tabs-background-positive', variables.$positive);
  @include tabs-striped-background('tabs-background-calm', variables.$calm);
  @include tabs-striped-background('tabs-background-assertive', variables.$assertive);
  @include tabs-striped-background('tabs-background-balanced', variables.$balanced);
  @include tabs-striped-background('tabs-background-energized',variables.$energized);
  @include tabs-striped-background('tabs-background-royal', variables.$royal);
  @include tabs-striped-background('tabs-background-dark', variables.$dark);

  @include tabs-striped-color('tabs-color-light', variables.$light);
  @include tabs-striped-color('tabs-color-stable', variables.$stable);
  @include tabs-striped-color('tabs-color-positive', variables.$positive);
  @include tabs-striped-color('tabs-color-calm', variables.$calm);
  @include tabs-striped-color('tabs-color-assertive', variables.$assertive);
  @include tabs-striped-color('tabs-color-balanced', variables.$balanced);
  @include tabs-striped-color('tabs-color-energized',variables.$energized);
  @include tabs-striped-color('tabs-color-royal', variables.$royal);
  @include tabs-striped-color('tabs-color-dark', variables.$dark);

}

@include tabs-background('tabs-background-light', variables.$light, variables.$bar-light-border);
@include tabs-background('tabs-background-stable', variables.$stable, variables.$bar-stable-border);
@include tabs-background('tabs-background-positive', variables.$positive, variables.$bar-positive-border);
@include tabs-background('tabs-background-calm', variables.$calm, variables.$bar-calm-border);
@include tabs-background('tabs-background-assertive', variables.$assertive, variables.$bar-assertive-border);
@include tabs-background('tabs-background-balanced', variables.$balanced, variables.$bar-balanced-border);
@include tabs-background('tabs-background-energized',variables.$energized, variables.$bar-energized-border);
@include tabs-background('tabs-background-royal', variables.$royal, variables.$bar-royal-border);
@include tabs-background('tabs-background-dark', variables.$dark, variables.$bar-dark-border);

@include tabs-color('tabs-color-light', variables.$light);
@include tabs-color('tabs-color-stable', variables.$stable);
@include tabs-color('tabs-color-positive', variables.$positive);
@include tabs-color('tabs-color-calm', variables.$calm);
@include tabs-color('tabs-color-assertive', variables.$assertive);
@include tabs-color('tabs-color-balanced', variables.$balanced);
@include tabs-color('tabs-color-energized',variables.$energized);
@include tabs-color('tabs-color-royal', variables.$royal);
@include tabs-color('tabs-color-dark', variables.$dark);

@mixin tabs-standard-color($style, $color, $off-color:variables.$dark) {
  &.#{$style} {
    .tab-item {
      color: $off-color;
      &.tab-item-active,
      &.active,
      &.activated {
        color: $color;
      }
    }
  }
}

ion-tabs {
  @include tabs-standard-color('tabs-color-active-light', variables.$light, variables.$dark);
  @include tabs-standard-color('tabs-color-active-stable', variables.$stable, variables.$dark);
  @include tabs-standard-color('tabs-color-active-positive', variables.$positive, variables.$dark);
  @include tabs-standard-color('tabs-color-active-calm', variables.$calm, variables.$dark);
  @include tabs-standard-color('tabs-color-active-assertive', variables.$assertive, variables.$dark);
  @include tabs-standard-color('tabs-color-active-balanced', variables.$balanced, variables.$dark);
  @include tabs-standard-color('tabs-color-active-energized',variables.$energized, variables.$dark);
  @include tabs-standard-color('tabs-color-active-royal', variables.$royal, variables.$dark);
  @include tabs-standard-color('tabs-color-active-dark', variables.$dark, variables.$light);
}

.tabs-top {
  &.tabs-striped {
    padding-bottom:0;
    .tab-item{
      background: transparent;
      // animate the top bar, leave bottom for platform consistency
      -webkit-transition: color .1s ease;
      -moz-transition: color .1s ease;
      -ms-transition: color .1s ease;
      -o-transition: color .1s ease;
      transition: color .1s ease;
      &.tab-item-active,
      &.active,
      &.activated {
        margin-top: variables.$tabs-striped-border-width - 1px;
        border-width: 0px 0px variables.$tabs-striped-border-width 0px !important;
        border-style: solid;
        > .badge, > i{
          margin-top: -(variables.$tabs-striped-border-width) + 1px;
        }
      }
      .badge{
        -webkit-transition: color .2s ease;
        -moz-transition: color .2s ease;
        -ms-transition: color .2s ease;
        -o-transition: color .2s ease;
        transition: color .2s ease;
      }
    }
   &:not(.tabs-icon-left):not(.tabs-icon-top){
       .tab-item{
          &.tab-item-active,
          &.active,
          &.activated {
             .tab-title, i{
            display:block;
            margin-top: -(variables.$tabs-striped-border-width) + 1px;
          }
        }
      }
    }
    &.tabs-icon-left{
       .tab-item{
          margin-top: 1px;
          &.tab-item-active,
          &.active,
          &.activated {
            .tab-title, i {
              margin-top: -0.1em;
          }
        }
      }
    }
  }
}

/* Allow parent element to have tabs-top */
/* If you change this, change platform.scss as well */
.tabs-top > .tabs,
.tabs.tabs-top {
  top: variables.$bar-height;
  padding-top: 0;
  background-position: bottom;
  border-top-width: 0;
  border-bottom-width: 1px;
  .tab-item {
    &.tab-item-active,
    &.active,
    &.activated {
      .badge {
        top: 4%;
      }
    }
  }
}
.tabs-top ~ .bar-header {
  border-bottom-width: 0;
}

.tab-item {
  @include mixins.flex(1);
  display: block;
  overflow: hidden;

  max-width: variables.$tab-item-max-width;
  height: 100%;

  color: inherit;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-weight: 400;
  font-size: variables.$tabs-text-font-size;
  font-family: variables.$font-family-sans-serif;

  opacity: 0.7;

  &:hover {
    cursor: pointer;
  }
  &.tab-hidden{
    display:none;
  }
}

.tabs-item-hide > .tabs,
.tabs.tabs-item-hide {
  display: none;
}

.tabs-icon-top > .tabs .tab-item,
.tabs-icon-top.tabs .tab-item,
.tabs-icon-bottom > .tabs .tab-item,
.tabs-icon-bottom.tabs .tab-item {
  font-size: variables.$tabs-text-font-size-side-icon;
  line-height: variables.$tabs-text-font-size;
}

.tab-item .icon {
  display: block;
  margin: 0 auto;
  height: variables.$tabs-icon-size;
  font-size: variables.$tabs-icon-size;
}

.tabs-icon-left.tabs .tab-item,
.tabs-icon-left > .tabs .tab-item,
.tabs-icon-right.tabs .tab-item,
.tabs-icon-right > .tabs .tab-item {
  font-size: variables.$tabs-text-font-size-side-icon;

  .icon, .tab-title {
    display: inline-block;
    vertical-align: top;
    margin-top: -.1em;

    &:before {
    font-size: variables.$tabs-icon-size - 8;
    line-height: variables.$tabs-height;
    }
  }
}

.tabs-icon-left > .tabs .tab-item .icon,
.tabs-icon-left.tabs .tab-item .icon {
  padding-right: 3px;
}

.tabs-icon-right > .tabs .tab-item .icon,
.tabs-icon-right.tabs .tab-item .icon {
  padding-left: 3px;
}

.tabs-icon-only > .tabs .icon,
.tabs-icon-only.tabs .icon {
  line-height: inherit;
}


.tab-item.has-badge {
  position: relative;
}

.tab-item .badge {
  position: absolute;
  top: 4%;
  right: 33%; // fallback
  right: calc(50% - 26px);
  padding: variables.$tabs-badge-padding;
  height: auto;
  font-size: variables.$tabs-badge-font-size;
  line-height: variables.$tabs-badge-font-size + 4;
}


/* Navigational tab */

/* Active state for tab */
.tab-item.tab-item-active,
.tab-item.active,
.tab-item.activated {
  opacity: 1;

  &.tab-item-light {
    color: variables.$light;
  }
  &.tab-item-stable {
    color: variables.$stable;
  }
  &.tab-item-positive {
    color: variables.$positive;
  }
  &.tab-item-calm {
    color: variables.$calm;
  }
  &.tab-item-assertive {
    color: variables.$assertive;
  }
  &.tab-item-balanced {
    color: variables.$balanced;
  }
  &.tab-item-energized {
    color: variables.$energized;
  }
  &.tab-item-royal {
    color: variables.$royal;
  }
  &.tab-item-dark {
    color: variables.$dark;
  }
}

.item.tabs {
  @include mixins.display-flex();
  padding: 0;

  .icon:before {
    position: relative;
  }
}

.tab-item.disabled,
.tab-item[disabled] {
  opacity: .4;
  cursor: default;
  pointer-events: none;
}

.nav-bar-tabs-top.hide ~ .view-container .tabs-top .tabs{
  top: 0
}
.pane[hide-nav-bar="true"] .has-tabs-top{
  top:variables.$tabs-height
}

