@use "mixins";
@use "variables";


/**
 * Utility Classes
 * --------------------------------------------------
 */

.hide {
  display: none;
}
.opacity-hide {
  opacity: 0;
}
.grade-b .opacity-hide,
.grade-c .opacity-hide {
  opacity: 1;
  display: none;
}
.show {
  display: block;
}
.opacity-show {
  opacity: 1;
}
.invisible {
  visibility: hidden;
}

.opacity-75 {
  opacity: .75;
}
.opacity-80 {
  opacity: .80;
}
.opacity-85 {
  opacity: .85;
}

.keyboard-open .hide-on-keyboard-open {
  display: none;
}

.keyboard-open .tabs.hide-on-keyboard-open + .pane .has-tabs,
.keyboard-open .bar-footer.hide-on-keyboard-open + .pane .has-footer {
  bottom: 0;
}

.inline {
  display: inline-block;
}

.disable-pointer-events {
  pointer-events: none;
}

.enable-pointer-events {
  pointer-events: auto;
}

.disable-user-behavior {
  // used to prevent the browser from doing its native behavior. this doesnt
  // prevent the scrolling, but cancels the contextmenu, tap highlighting, etc

  @include mixins.user-select(none);
  @include mixins.touch-callout(none);
  @include mixins.tap-highlight-transparent();

  -webkit-user-drag: none;

  -ms-touch-action: none;
  -ms-content-zooming: none;
}

// Fill the screen to block clicks (a better pointer-events: none) for the body
// to avoid full-page reflows and paints which can cause flickers
.click-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: variables.$z-index-click-block;
  @include mixins.translate3d(0, 0, 0);
  overflow: hidden;
}
.click-block-hide {
  @include mixins.translate3d(-9999px, 0, 0);
}

.no-resize {
  resize: none;
}

.block {
  display: block;
  clear: both;
  &:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
  }
}

.full-image {
  width: 100%;
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

/**
 * Content Padding
 * --------------------------------------------------
 */

.padding {
  padding: variables.$content-padding;
}

.padding-top,
.padding-vertical {
  padding-top: variables.$content-padding;
}

.padding-right,
.padding-horizontal {
  padding-right: variables.$content-padding;
}

.padding-bottom,
.padding-vertical {
  padding-bottom: variables.$content-padding;
}

.padding-left,
.padding-horizontal {
  padding-left: variables.$content-padding;
}


/**
 * Scrollable iFrames
 * --------------------------------------------------
 */

.iframe-wrapper {
  position: fixed;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;

  iframe {
    height: 100%;
    width: 100%;
  }
}


/**
 * Rounded
 * --------------------------------------------------
 */

.rounded {
  border-radius: variables.$border-radius-base;
}


/**
 * Utility Colors
 * --------------------------------------------------
 * Utility colors are added to help set a naming convention. You'll
 * notice we purposely do not use words like "red" or "blue", but
 * instead have colors which represent an emotion or generic theme.
 */

.light, a.light {
  color: variables.$light;
}
.light-bg {
  background-color: variables.$light;
}
.light-border {
  border-color: variables.$button-light-border;
}

.stable, a.stable {
  color: variables.$stable;
}
.stable-bg {
  background-color: variables.$stable;
}
.stable-border {
  border-color: variables.$button-stable-border;
}

.positive, a.positive {
  color: variables.$positive;
}
.positive-bg {
  background-color: variables.$positive;
}
.positive-border {
  border-color: variables.$button-positive-border;
}

.calm, a.calm {
  color: variables.$calm;
}
.calm-bg {
  background-color: variables.$calm;
}
.calm-border {
  border-color: variables.$button-calm-border;
}

.assertive, a.assertive {
  color: variables.$assertive;
}
.assertive-bg {
  background-color: variables.$assertive;
}
.assertive-border {
  border-color: variables.$button-assertive-border;
}

.balanced, a.balanced {
  color: variables.$balanced;
}
.balanced-bg {
  background-color: variables.$balanced;
}
.balanced-border {
  border-color: variables.$button-balanced-border;
}

.energized, a.energized {
  color: variables.$energized;
}
.energized-bg {
  background-color: variables.$energized;
}
.energized-border {
  border-color: variables.$button-energized-border;
}

.royal, a.royal {
  color: variables.$royal;
}
.royal-bg {
  background-color: variables.$royal;
}
.royal-border {
  border-color: variables.$button-royal-border;
}

.dark, a.dark {
  color: variables.$dark;
}
.dark-bg {
  background-color: variables.$dark;
}
.dark-border {
  border-color: variables.$button-dark-border;
}

[collection-repeat] {
  /* Position is set by transforms */
  left: 0 !important;
  top: 0 !important;
  position: absolute !important;
  z-index: 1;
}
.collection-repeat-container {
  position: relative;
  z-index: 1; //make sure it's above the after-container
}
.collection-repeat-after-container {
  z-index: 0;
  display: block;
}

// Probably as good a place as any to put this.  contenteditable needs user-select
// jl 03/16/2016
*[contenteditable] {
  @include mixins.user-select(text);
}
