.GenericMatButton {
    button {
      -webkit-transition: background-color 1s linear;
      -moz-transition: background-color 1s linear;
      -o-transition: background-color 1s linear;
      transition: background-color 1s linear;
    }
  }

  .attention {
    background-color: var(--app-accent-color) !important;
    color: white !important;
  }