$border-grey: #EAEAEA;

.drawer{
    display: flex;
    position: relative;
    transition: width 1s, min-width 1s;
    height: 100%;
  
    .handle{
      width: 2px;
      height: 100%;
      cursor: col-resize;
    }
  
  }
  
  .drawer-content{
    flex-grow: 1;
    opacity: 0;
    transition: opacity 1s;
    overflow-y: scroll;
    max-height: 100%;

    &::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }
      
    &::-webkit-scrollbar-track {
        background: white;
    }
      
    &::-webkit-scrollbar-thumb {
    background: #DCDCDC;
            border-radius: 2rem;
    }
      
    &::-webkit-scrollbar-thumb:hover {
        background: #B8B8B8;
    }

  }
  .drawer-content-open {
    opacity: 1;
  }
  .drawer-toggle {
    z-index: 5;
    cursor: pointer;
    position: absolute;
    right: 0;
    transform: translate(100%, 0);
    font-size: 24px;
    width: 50px;
    background: $border-grey;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50px;
    color: #666666;
    border-radius: 0 23px 23px 0;
    > i {
      padding: 0;
      height: 24px;
      position: absolute; //TODO check why display:flex + align-items didn't work
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .dbm-tooltip {
      display: flex;
      flex-direction: column;
      justify-content: center;
      transform: scale(0.75);
      
      .dbm-tooltiptext{
            bottom: 0px;
            left: 299%;
            transform: scale(0.75);
      }
    }
  }
  .drawer-toggle-open {
    transform: translate(0, 0);
    border-radius: 23px 0 0 23px;
  }