.tree-search {
    .title {
        margin: 10px;
        text-align: left;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        color: #333333;
    }

    p.tree-search__loading {
        padding: 0 10px;
    }
}