// config vars

// main colors
$main-color: #026bfd;
$light-grey: #6d6e70;

// web colors
$invicara-primary: $main-color;
$invicara-text: $light-grey;

// Main fonts
$font-base: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
//$font-contrast:;
$font-size: 18px;

// Inside components

// border radius
$radius-principal: 10px;
$radius-btn: 10px;

// shadows
$shadow-soft:  0px 2px 10px #000;
$shadow-mid:  0px 2px 20px #000;
$shadow-hard:  5px 5px 15px #000;

$blueColor: #3369ff;
$borderRadiusSize: 0.2em;


//domi
body {
  background-color: white !important;
}
