.approve-btn {
   color: whitesmoke;
   padding: 5px 10px 5px 5px;
   background-color: var(--app-accent-color);
   border-radius: 5px 20px 20px 5px;
   margin: 5px;
   width:50px;
   cursor: pointer;
   border: 2px solid black;
}

.approve-btn-long {
   width: unset;
}

.approve-btn:hover {
   color: var(--app-accent-color);
   background-color: whitesmoke;
}