.hours-viewer-zone-details {

   .waiting {
      margin: 25px;
   }

   .hours-viewer-detail-table {

      margin: 10px 0px 50px 50px;
      width: 80%;

      thead > tr:last-child {
         border-bottom: 2px solid black;
      }

      .even {
         background-color: #d9d9d9;
      }

      .details-date-cell {
         text-align: center;
      }

      .details-hours-cell {
         text-align: end;
      }
   }
}
