.permissions-table {
    margin-top: 20px;
    margin-left: 20px;
    width: 80%;

    .ug-perm-table-ctrls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        .ug-perm-filter {
            display: flex;
            align-items: center;
            min-width: 300px;
            z-index: 1000;
        }
    }

    .ug-perm-table {
        width: 100%;

        th {
            font-weight: bold;
            padding: 2px;
            text-align: center;
            border-right: 1px solid gray;
            border-top: unset;
            position: sticky;
            top: 0;
            z-index: 1;
            background: white;
        }

        tr.odd-row {
            background-color: lightgray;
        }

        td {
            padding: 5px 15px 5px 5px;
            border-right: 1px solid gray;
            min-width: 60px;
        }

        td.perm-cell {
            text-align: center;
        }
    }
}